.Header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.topHeader {
    align-items: center;
    min-height: 50px;
    background: white;
    padding: 5px 5px 5px 15px;
    display: flex;
    justify-content: space-between;
}
.titles {
    /*max-width: 50%;*/
}
.title {
    font-weight: 600;
    color:#423189;
}
.subtitle {
    font-size: 12px;
    vertical-align: alphabetic;
    color: lightgray;
}
.leftPanel {
    display: flex;
    align-items: center;

}
.btnBlack {
    padding: 5px 6px;
    color: #767B7D;
    background: black;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
}
.btnBlack:hover {
    color: white;
    background: #181717;
}
.bookIMG {
    cursor: pointer;
} 