.Viewer {
    margin-top: 15px;
    margin-bottom:15px ;
    display: flex;
    justify-content: center;

}

.ViewerWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 230px;
    width: 320px;
}
