* {
  box-sizing: border-box;
}
body, html {
  padding: 0;
  margin: 0;
}
.App {
  padding: 15px 10px;
  margin: 0 auto;
  background: #F3F6F5;
  width: 375px;
}
.container {
  border: 1px solid #efefef;
}
